html, body {
	height: 100%;
}
body {
	margin: 0;
	padding: 50px 0;
	width: 100%;
	display: table;
	font-weight: 100;
	font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
	font-size: 13px;
	color: #34495e;
}
.container {
	text-align: center;
	display: table-cell;
}
.navbar-brand img {
	height: 100%;
}
.content {
	display: inline-block;
	width: 980px;
}
.title {
	font-size: 48px;
}