// snippet all
.form-snippet-destroy {
	display: inline;
}
.form-snippet-public {
	text-align: left;

	p {
		text-align: center;
		font-weight: bold;
	}
	label {
		margin-right: 10px;
	}
}
// snippet.index
.snippet-index {
	.twitter-typeahead {
		margin-top: 15px;
		width: 100%;
	}
	.search-result {
		margin-top: 15px;

		.list-group-item-heading {
			font-weight: bold;

			.label {
				margin-left: 10px;
			}
		}
		.list-group-item {
			text-align: left;
		}
	}
}
// snippet.show
.snippet-show {
	.snippet-content {
		text-align: left;
	}
	h2 {
		font-size: 24px;
		margin-bottom: 20px;
	}
}